#listBody {
  margin: 1rem 4rem;
}

.accordion-inside{
  width: 100%;
}

.mega-master{
  /* padding: 10px; */
}

.refresh-btn{
  border: none;
  margin-top: 20px;
}

.refresh-btn:hover{
  border: none;
}

.refresh-btn:active{
  border: none !important;
}