.hotel-master {
  background-color: white;
  border: 2px dashed grey;
  border-radius: 20px;
  margin-top: 10px;
  width: 100%;
  height: auto;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.image-master {
  width: 250px;
  height: 200px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  margin: 5px;
  /* border: 2px solid black; */
}

.data-master {
  display: grid;
  width: 70%;
  height: 180px;
  background-color: rgb(2, 94, 180);
  margin: 5px;
  padding: 2px;
  grid-gap: 2px;
  border-radius: 20px;
}

#name-grid {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 5;
}
#location-grid {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 5;
}
#price-grid {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 5;
  grid-column-end: 8;
}
#rating-grid {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 5;
  grid-column-end: 7;
}

#button-grid {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 7;
  grid-column-end: 8;
}

.grid-child {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: -20px;
  border-radius: 20px;
}

.image {
  height: 200px;
  width: 250px;
  object-fit: cover;
  z-index: 0;
}

.discount-shape-2 {
  position: absolute;
  height: 20px;
  width: 70px;
  top: 10px;
  right: 10px;
  z-index: 999;
  background-color: #ef9a9a;
  transform: skew(-30deg);
}

.discount {
  position: absolute;
  font-size: 12px;
  color: black;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 70px;
  top: 10px;
  right: -1px;
  z-index: 999;
  background-color: #f44336;
}

.discount-shape {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 20px;
  width: 70px;
  z-index: 998;
  background-color: #ef9a9a;
  transform: skew(30deg);
}

@media (max-width: 1000px) {
  .data-master {
    width: 100%;
  }

  .image-master {
    border-radius: 20px;
  }
  .image {
    width: 100%;
    max-width: 350px;
  }
  #name-grid {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  #location-grid {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  #price-grid {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  #rating-grid {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
  }

  #button-grid {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
  }
}

.book-btn {
  border: none;
  background-color: white;
  border: 2px solid #b5b6ff;
  border-radius: 10px;
  width: 50%;
  min-width: 50px;
  height: 50%;
  font-size: 10px;
  color: #7f81fa;
}

.book-btn:active {
  border: 2px solid #8183f7;
}
