@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.hotel-master {
  background-color: rgb(58, 58, 58);
  border: 1px solid #0d8f8f;
  border-radius: 20px;
  width: 100%;
  max-width: 1300px;
  min-width: 200px;
  margin: auto;
  margin-top: 20px;
  height: auto;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.image-master {
  width: 250px;
  height: 200px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  margin: 5px;
  /* border: 2px solid black; */
}

.data-master {
  display: grid;
  width: 70%;
  height: 180px;
  background-color: rgba(2, 94, 180, 0);
  font-family: "Montserrat", sans-serif;
  margin: 5px;
  padding: 2px;
  grid-gap: 2px;
  border-radius: 20px;
}

#name-grid {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 5;
  font-size: 25px;
  font-weight: 700;
}
#location-grid {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 5;
}
#price-grid {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 5;
  grid-column-end: 8;
  justify-content: flex-end;

}
#rating-grid {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 5;
  grid-column-end: 7;
  justify-content: flex-end;
}

#button-grid {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 7;
  grid-column-end: 8;
  justify-content: flex-end;
}

.grid-child {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: -20px;
  border-radius: 20px;
}

.image {
  height: 200px;
  width: 250px;
  object-fit: cover;
  z-index: 0;
}

.discount-shape-2 {
  position: absolute;
  height: 20px;
  width: 70px;
  top: 10px;
  right: 10px;
  z-index: 999;
  background-color: #ef9a9a;
  transform: skew(-30deg);
}

.discount {
  position: absolute;
  font-size: 12px;
  color: black;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 70px;
  top: 10px;
  right: -1px;
  z-index: 999;
  background-color: #f44336;
}

#disc-price{
  font-size: 25px;
}

#og-price{
  font-size: 14px;
  font-weight: 300;
}


.discount-shape {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 20px;
  width: 70px;
  z-index: 998;
  background-color: #ef9a9a;
  transform: skew(30deg);
}


@media (max-width: 600px){
  .data-master {
    font-size: 10px;
  }
  #name-grid{
    font-size: 20px;
  }
}

@media (max-width: 1100px) {
  .data-master {
    width: 100%;
    /* font-size: 10px; */
  }

  .price-alignment{
    display: flex;
  }

  #disc-price{
    margin-left: 8px;
  }

  .image-master {
    border-radius: 20px;
  }
  .image {
    width: 100%;
    max-width: 350px;
  }
  #name-grid {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  #location-grid {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  #price-grid {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: flex-start;
  }
  #rating-grid {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
  }

  #button-grid {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
  }
}

.book-btn {
  border: none;
  background-color: #0d8f8f;
  border-radius: 10px;
  width: 55px;
  /* min-width: 50px; */
  height: 50%;
  min-height: 25px;
  font-size: 10px;

}

.book-btn:hover{
  background-color: #0d8f8f;
}


.accordion{
  width: 60%;
  margin: auto;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}

@media (max-width: 900px) {
  .accordion {
    width: 100%;
  }
}