body {
  text-align: center;
  background-color: #000000;
}
.authDiv {
  margin: auto;
  width: 32vw;
  margin-top: 15vh;
  background-color: rgb(58, 58, 58);
  padding: 1.5rem;
  border-radius: 10px;
}
#google {
  margin-top: 5vh;
}

#Head {
  margin-top: 3vw;
}
