body {
  text-align: center;
  background-color: #000000;
}
.authDiv {
  width: 32vw;
  background-color: rgb(58, 58, 58);
  padding: 1.5rem;
  border-radius: 10px;
  min-width: 300px;
}
.auth-parent{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#Head {
  margin-top: 3vw;
}
